body{
    padding: 0;
    margin: 0;
}

#mapid {
    height: 300px;
}

#place{   
    position: relative;
    Vertical-align: top;
    width: 640px;
    margin-left: 570px;
    list-style: none;
}

#keyword{
    position: relative;
    Vertical-align: top;
    /* width: 640px;
    margin-left: 600px; */
}

#button{
    background-color: aliceblue;
    border: grey;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.li{
    display: block;
    background-color: aliceblue;
    border: grey;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    /* margin-left: 30px; */
    cursor: pointer;
}
