
.imgContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    margin:auto;
}

li img {
    height: 20rem;
    width: 15rem;
    margin-top: 50px;
}



#movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}






